.about-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.25);
  padding: 20px;
  background-image: url('../assets/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.about, .about-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.about-words {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-words-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-container h1 {
  font-size: 150px;
  color: var(--deeppurple);
}

.about-container span {
  font-size: 60px;
  color: var(--darkpink);
  animation: rocket 0.1s ease infinite;
}

.about-container span2 {
  font-size: 30px;
  color: #FF4B2B;
}

.rocket-girl, .calendar-man {
  display: flex;
  justify-content: center;
  align-items:top;
}

