.about-container {
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.about, .about-2, .about-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.about-words {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-words-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-container h1 {
  font-size: 150px;
  color: var(--deeppurple);
}

.about-container span {
  font-size: 60px;
  color: var(--darkpink);
  animation: rocket 0.1s ease infinite;
}

.about-container span2 {
  font-size: 30px;
  color: #FF4B2B;
}

.rocket-girl, .calendar-man {
  display: flex;
  justify-content: center;
  align-items:top;
}

