@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


:root {
	--lightblue: #92EBFA;
	--medblue: #76E1F8;
	--darkblue: #24D9F8;
	--lightyellow: #FFE36F;
	--darkyellow: #FFD300;
	--lightorange: #FF9F00;
	--medorange: #FF7815;
	--darkorange: #FF4A00;
	--mywhite: #F6F5F7;
	--mygrey: #eee;
	--lightgrey: #EBEBF0;
	--medgrey: #E1E1E7;
	--darkgrey: #5A5A5A;
}

* {
	box-sizing: border-box;
	color: var(--darkgrey);
}

.App {
  display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.container {
	background: var(--mywhite);
  display: flex;
	justify-content: center;
  flex-direction: column;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: 0px 20px 0px 20px;
}

h1 {
	font-weight: bold;
	margin: 0;
	color: var(--darkgrey);
}

h2 {
	text-align: center;
	color: var(--darkgrey);
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
	color: var(--darkgrey);
}


hr, vl {
	border-top: 1px solid;
	color: var(--lightgrey);
	width: 70%;
	text-align: center;
}

button, #button {
	border-radius: 10px;
	border: 1px solid var(--lightorange);
	background-color: var(--lightorange);
	color: var(--mywhite);
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: var(--mywhite);
}

.icon {
	display: inline-flex;
	justify-content: center;
	align-items: center;
  color: var(--darkorange);
	margin: 0 5px;
	height: 30px;
	width: 30px;
}

.iconlarge {
  color: var(--darkorange);
  margin: -30px 0px 0px 0px;
  height:50px;
	width: 50px;
}

#navbar {
  font-family: 'Montserrat', sans-serif;
  background: var(--mywhite);
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.25);
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 12px 0px 12px;
  margin: 8px;
}

#navbar nav {
  justify-content: space-between;
}

#navbar a {
  float: left;
  display: flex;
  color: var(--darkgrey);
  font-size: 20px;
  text-align: center;
  padding: 8px;
  text-decoration: none;
}
.profileContainer {
  background: var(--darkorange);
	background: linear-gradient(to right, var(--lightorange), var(--darkorange));
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	height: 70%;
	width: 70%;
	position: absolute;
	top: 200px;
	border-radius: 20px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
		0 10px 10px rgba(0,0,0,0.22);
}

.profile {
	background-color: var(--mygrey);
	padding: 35px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
}

.profile span{
	color: var(--darkorange);
	font-size: 20px;
}

footer {
  background-color:var(--darkgrey);
  color: #fff;
  font-size: 14px;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
	margin-top: 5px;
}

footer p {
  margin: 10px 0;
}