.home {
  display: flex;
  flex-direction:column;
}

.board {
  display: flex;
  flex-direction: column;

}

.category-container {
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  margin: 0 4px;
  vertical-align: top;
  white-space: nowrap;
  width: 272px;
}