.about {
  margin-top: -380px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.about-words {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about h1 {
  font-size: 150px;
}

.about span {
  font-size: 60px;
  color: #FF4B2B;
  animation: rocket 0.1s ease infinite;
}

.about span2 {
  font-size: 30px;
  color: #FF4B2B;
}

.pulse-container {
  display: flex;
  justify-content: center;
  align-items:top;
  min-height: 50vh;
  min-width: 20vw;
  /* background: #ffeb3b; */
  overflow: hidden;
  margin:auto; 
}

/* .pulse {
  position: relative;
  width: 200px;
  height: 200px;
  background: #E85D04;
  border-radius: 50%;
  z-index: 2;
}

.pulse span {
  position: absolute;
  top: 0;
  left: 0;
  background: #E85D04;
  z-index: 3;
  border-radius: 50%;
  display: inline-block;
  width: 100%;
  height: 100%;
  animation: animate 2.5s linear infinite;
  animation-delay: calc(-0.5s * var(--i));
}
@keyframes animate{
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  90% {
    transform: scale(3);
  }
  100% {
    transform: scale(4);
    opacity: 0;
  }
} */

.rocket {
  position: relative;
  top: 50px;
  width: 100px;
  text-align: center;
  animation: rocket 0.1s ease infinite;
}

.rocket img {
  width: 100px;
}

@keyframes rocket {
  0%, 100% {
    transform: translateY(-1px);
  }
  50% {
    transform: translateY(1px);
  }
}

.rocket::before {
  content: '';
  position: absolute;
  bottom: -250px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 250px;
  background: linear-gradient(#FF4B2B, transparent);
}
.rocket::after {
  content: '';
  position: absolute;
  bottom: -250px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 250px;
  background: linear-gradient(#FF4B2B, transparent);
  filter: blur(20px);
}